*{ margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;  -o-box-sizing:border-box;  -ms-box-sizing:border-box;  box-sizing:border-box;   }

body{ font:1rem/normal '\5fae\8f6f\96c5\9ed1'; overflow-y:auto; background:#f6f6f6; color: #333;}

::-webkit-selection{ background:#3296fa; color:white }
::-moz-selection{ background:#3296fa; color:white; }
::selection{ background:#3296fa; color:white }


li, dd{ list-style:none; }
.floL{ float:left; }
.floR{ float:right; }

a{ text-decoration:none; color:#555; }

img, input{ border:none; outline:none; }

.bg-white{
    background: #fff;
}