$color-primary: #3296fa;
$grey-color-1: rgba(25,31,37,1);
$grey-color-2: rgba(25,31,37,.72);
$grey-color-3: rgba(25,31,37,.56);
$grey-color-4: rgba(25,31,37,.4);
$grey-color-5: rgba(25,31,37,.28);
$grey-bg-1: rgba(25,31,37,.12);
$grey-bg-2: rgba(25,31,37,.08);
$grey-bg-3: rgba(25,31,37,.04);

$grey-bg: rgba(25, 31, 37, 0.08);
:export{
    color-primary: $color-primary;
    grey-color-1: $grey-color-1;
    grey-color-2: $grey-color-2;
    grey-color-3: $grey-color-3;
    grey-color-4: $grey-color-4;
    grey-color-5: $grey-color-5;
    grey-bg-1: $grey-bg-1;
    grey-bg-2: $grey-bg-2;
    grey-bg-3: $grey-bg-3;
}